<div class="panel panel-default" ng-cloak>

	<!-- 	<div class="panel-heading" ng-if="hasPanelHeading" -->
	<!-- 		ng-class="{'panel-heading-no-body' : !$isFilterable()}"> -->
	<!-- 		<h4 class="panel-title"> -->
	<!-- 			<span ng-bind="title"></span> -->
	<!-- 			<div class="btn-group btn-group-sm" ng-if="editable == 'inline'"> -->
	<!-- 				<button class="btn btn-default" ng-click="$inlineEdition.onCreate()"> -->
	<!-- 					<span class="glyphicon glyphicon-plus"></span> -->
	<!-- 				</button> -->
	<!-- 			</div> -->
	<!-- 		</h4> -->
	<!-- 	</div> -->

	<div class="panel-body">
		<div class="input-group" ng-if="listGroupCtrl.filter.auto === false">
			<input type="text" class="form-control"
				placeholder="{{listGroupCtrl.filter.placeholder}}"
				ng-model="listGroupCtrl.filter.text"></input>
			<div class="input-group-btn">
				<button class="btn btn-default"
					ng-click="listGroupCtrl.clearFilter(listGroupCtrl.filter.text)"
					ng-disabled="!listGroupCtrl.filter.text">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
				<button class="btn btn-default"
					ng-click="listGroupCtrl.executeFilter(listGroupCtrl.filter.text)"
					ng-disabled="!listGroupCtrl.filter.text">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>

		<input type="text" class="form-control"
			ng-model="listGroupCtrl.filter.text"
			placeholder="{{listGroupCtrl.filter.placeholder}}"
			ng-if="listGroupCtrl.filter.auto === true"></input>
	</div>

	<list-group-html ng-if="!selectable"></list-group-html>
	<linked-list-group-html ng-if="selectable"></linked-list-group-html>

	<!-- 	<div class="panel-footer" ng-if="$displayFooter()" -->
	<!-- 		ng-bind-html="footer"></div> -->

</div>