<div >
	<div class="input-group" ng-if="listGroupCtrl.filter.auto === false">
		<input type="text" class="form-control"
			placeholder="{{listGroupCtrl.filter.placeholder}}"
			ng-model="listGroupCtrl.filter.text"></input>
		<div class="input-group-btn">
			<button class="btn btn-default"
				ng-click="listGroupCtrl.clearFilter(listGroupCtrl.filter.text)"
				ng-disabled="!listGroupCtrl.filter.text">
				<i class="glyphicon glyphicon-remove"></i>
			</button>
			<button class="btn btn-default"
				ng-click="listGroupCtrl.executeFilter(listGroupCtrl.filter.text)"
				ng-disabled="!listGroupCtrl.filter.text">
				<i class="glyphicon glyphicon-search"></i>
			</button>
		</div>
	</div>

	<input type="text" class="form-control"
		ng-model="listGroupCtrl.filter.text"
		placeholder="{{listGroupCtrl.filter.placeholder}}"
		ng-if="listGroupCtrl.filter.auto === true"></input>
</div>
