<div class="panel panel-default" ng-cloak>

	<div class="panel-heading">
		<h3 class="panel-title">
			<span ng-bind-html="::ctrl.title"></span> <a ng-click="ctrl.onAdd()"><i
				class="fa fa-plus-square-o pull-right"></i></a>
		</h3>
	</div>

	<div class="panel-body" ng-if="filterable">
		<list-group-filter></list-group-filter>
	</div>

	<ul class="list-group list-group-input-group">
		<li class="list-group-item"
			ng-repeat="item in ctrl.$$items | filter:ctrl.filter.text:compare track by $index">
			<div class="input-group">
				<!--       <input type="text" class="form-control" placeholder="Search for..."> -->
				<div class="form-control-static">
					<list-group-item-content></list-group-item-content>
				</div>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"
						ng-disabled="ctrl.isActionDisabled(item, action)"
						ng-repeat="action in ctrl.$$actions track by $index">
						<i class="fa {{::action.icon}}"></i>
					</button>
				</span>
			</div>
		</li>
	</ul>

</div>

