<div class="panel" ng-class="$resolvePanelContextualClassName()"
	ng-cloak>

	<div class="panel-heading" ng-if="title"
		ng-class="{'panel-heading-no-body' : !$isFilterable()}">
		<h3 class="panel-title" ng-bind="title"></h3>
	</div>

	<div class="panel-body" ng-if="$isFilterable()">
		<div class="input-group" ng-if="!filter.autoFilter">
			<input type="text" class="form-control"
				placeholder="{{filter.placeholder}}" ng-model="filter.text">
			<div class="input-group-btn">
				<button class="btn btn-default" ng-click="$filter()"
					ng-disabled="!filter">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>

		<input type="text" class="form-control"
			placeholder="{{filter.placeholder}}" ng-model="filter.text"
			ng-if="filter.autoFilter">
	</div>

	<div class="panel-footer" ng-if="$displayFooter()"
		ng-bind-html="footer"></div>

</div>