<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert" ng-bind-html="msg"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div>
			<p>
				Use
				<code>deletable</code>
				attribute to add a delete action button
			</p>
			<p>
				Use
				<code>on-delete</code>
				attribute to specify a callback function.

			</p>
			<p>
				<mark>
					Note argument function name
					<code>$item</code>
				</mark>
			</p>
		</div>

		<pre>
&#60;list-group 
	title="Built-in delete action" 
	items="colors"
	deletable
	on-delete="deleteItem($item)"> 
&#60;/list-group>	
</pre>
		<list-group-editor title="Built-in delete action" items="colors"
			deletable on-delete="deleteItem($item)"></list-group-editor>
	</div>

	<div class="col-md-4">
		<div>
			<p>
				Use
				<code>editable</code>
				attribute to add an edit action button
			</p>
			<p>
				Use
				<code>on-edit</code>
				attribute to specify a callback function.

			</p>
			<p>
				<mark>
					Note argument function name
					<code>$item</code>
				</mark>
			</p>
		</div>

		<pre>
&#60;list-group
	title="Built-in edit action"
	items="colors02"
	editable
	on-edit="editItem($item)"> 
&#60;/list-group>	
</pre>
		<list-group-editor title="Built-in edit action" items="colors02"
			editable on-edit="editItem($item)"></list-group-editor>
	</div>

	<div class="col-md-4">
		<div>
			<p>Add both built-in actions edit and delete</p>
		</div>
		<pre>
&#60;list-group
	title="Built-in edit and delete actions"
	items="colors03"
	deletable
	on-delete="deleteItem($item)"
	editable
	on-edit="editItem($item)"> 
&#60;/list-group>	
</pre>
		<list-group-editor title="Built-in edit and delete actions" items="colors03" deletable
			on-delete="deleteItem($item)" editable on-edit="editItem($item)"></list-group-editor>
	</div>

</div>