<div class="row">
	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors" 
	contextual-class="success"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" contextual-class="success"></list-group>
	</div>

	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors" 
	contextual-class="info"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" contextual-class="info"></list-group>
	</div>


	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors" 
	contextual-class="warning"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" contextual-class="warning"></list-group>
	</div>


	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors" 
	contextual-class="danger"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" contextual-class="danger"></list-group>
	</div>

</div>

<div class="row">
	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors" 
	selectable="true"
	contextual-class="success"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" selectable="true"
			contextual-class="success"></list-group>
	</div>

	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors"
	selectable="true" 
	contextual-class="info"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" selectable="true" contextual-class="info"></list-group>
	</div>


	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors"
	selectable="true"
	contextual-class="warning"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" selectable="true"
			contextual-class="warning"></list-group>
	</div>


	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors"
	selectable="true"
	contextual-class="danger"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" selectable="true" contextual-class="danger"></list-group>
	</div>

</div>

<div class="row">
	<div class="col-md-3">
		<pre>
&#60;list-group 
	items="colors"
	selectable="true"
	contextual-class="resolveContextualClass(item)"> 
&#60;/list-group>	
</pre>
		<list-group items="colors" selectable="true"
			contextual-class="resolveContextualClass(item)"></list-group>
	</div>


</div>