<div class="col-md-4">
	<div class="well">
		Add a heading container to your list group using
		<code>header</code>
		attribute
	</div>
<h3>Controller</h3>
<pre><code class="language-javascript" prism>$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];</code></pre>
	<h3>Markup</h3>
	<pre><code class="language-markup" prism>	
&#60;list-group items="colors" 
	header="'Color List'">&#60;/list-group></code></pre>
	<list-group header="'Color List'" items="colors"></list-group>
</div>