<div class="row">
	<div class="col-md-3">
		<pre>
&#60;list-group
	title="Color List"
	items="colors"> 
&#60;/list-group>	
</pre>
		<list-group title="Color List" items="colors"></list-group>
	</div>

	<div class="col-md-3">
		<pre>
&#60;list-group
	title="Color List"
	panel="primary"
	items="colors"> 
&#60;/list-group>	
</pre>
		<list-group title="Color List" panel="primary" items="colors"></list-group>
	</div>

	<div class="col-md-3">
		<pre>
&#60;list-group
	title="Color List"
	panel="success"
	items="colors"> 
&#60;/list-group>	
</pre>
		<list-group title="Color List" panel="success" items="colors"></list-group>
	</div>

	<div class="col-md-3">
		<pre>
&#60;list-group
	title="Color List"
	panel="info"
	items="colors"> 
&#60;/list-group>	
</pre>
		<list-group title="Color List" panel="info" items="colors"></list-group>
	</div>

</div>

<div class="row">

	<div class="col-md-3">
		<pre>
&#60;list-group
	title="Color List"
	panel="warning"
	items="colors"> 
&#60;/list-group>	
</pre>
		<list-group title="Color List" panel="warning" items="colors"></list-group>
	</div>

	<div class="col-md-3">
		<pre>
&#60;list-group
	title="Color List"
	panel="danger"
	items="colors"> 
&#60;/list-group>	
</pre>
		<list-group title="Color List" panel="danger" items="colors"></list-group>
	</div>

</div>

