<div class="col-md-3">
	<div class="well">
		To make the
		<code>items</code>
		selectable, add an attribute
		<code>selectable</code>
	</div>
	<h3>Controller</h3>
	<pre>
			<code class="language-javascript" prism>
$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];
			</code>
		</pre>
	<h3>Markup</h3>
	<pre>
			<code class="language-markup" prism>
&#60;list-group items="colors" 
	selectable>&#60;/list-group>	
			</code>
</pre>
	<list-group items="colors" selectable> </list-group>
</div>

<div class="col-md-3">
	<div class="well">
		If one is not enough give the
		<code>selectable</code>
		attribute a
		<code>multiple</code>
		value
	</div>
	<h3>Controller</h3>
	<pre>
			<code class="language-javascript" prism>
$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];
			</code>
		</pre>
	<h3>Markup</h3>
	<pre>
			<code class="language-markup" prism>
&#60;list-group items="colors" 
	selectable="multiple">&#60;/list-group>	
			</code>
</pre>
	<list-group items="colors" selectable="multiple"> </list-group>
</div>

<div class="col-md-3">
	<div class="well">
		Use attribute
		<code>selected-items</code>
		to keep track of selected items
	</div>
	<h3>Controller</h3>
	<pre>
			<code class="language-javascript" prism>
$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];

$scope.mySelectedItems = [];	
			</code>
		</pre>
	<h3>Markup</h3>
	<pre>
	<code class="language-markup" prism>
&#60;list-group items="colors" 
	selectable="multiple" 
	selected-items="mySelectedItems">&#60;/list-group>	
	</code>
</pre>
	<list-group items="colors" selectable="multiple"
		selected-items="mySelectedItems"> </list-group>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Selected items</h3>
		</div>
		<div class="panel-body">{{mySelectedItems}}</div>
	</div>
</div>

<div class="col-md-3">
	<div class="well">
		If you want control over
		<code>item</code>
		selection, use
		<code>before-selection-change</code>
		. </br>Return
		<code>false</code>
		to prevent from selecting,
		<code>true</code>
		otherwise
	</div>
	<h3>Controller</h3>
	<pre>
		<code class="language-javascript" prism>
$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];

// Selection of the 'Red' item is not allowed
$scope.beforeSelectionChangeHandler = function(item) {
	return item != 'Red';
}
		</code>
	</pre>
	<h3>Markup</h3>
	<pre>
	<code class="language-markup" prism>
&#60;list-group items="colors" selectable="multiple"
	selected-items="mySelectedItems01"
	before-selection-change="beforeSelectionChangeHandler(item)">
&#60;/list-group>	
	</code>
	</pre>

	<list-group items="colors" selectable="multiple"
		selected-items="mySelectedItems01"
		before-selection-change="beforeSelectionChangeHandler(item)">
	</list-group>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Selected items</h3>
		</div>
		<div class="panel-body">{{mySelectedItems01}}</div>
	</div>
</div>

<div class="col-md-3">
	<div class="well">
		In case you need to perform an async call simply return a
		<code>promise</code>
		that evaluates to
		<code>true</code>
		or
		<code>false</code>
		.
	</div>
	<h3>Controller</h3>
	<pre>
		<code class="language-javascript" prism>
$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];

$scope.beforeSelectionChangeAsyncHandler = function(item) {
	var deferred = $q.defer();
	var promise = deferred.promise;
	$timeout(function() {
	    deferred.resolve(true);
	}, 500);
	return promise;
}			
		</code>
	</pre>
	<h3>Markup</h3>
	<pre>
	<code class="language-markup" prism>
&#60;list-group items="colors" selectable="multiple"
	selected-items="mySelectedItems02"
	before-selection-change="beforeSelectionChangeAsyncHandler(item)">
&#60;/list-group>	
	</code>
	</pre>

	<list-group items="colors" selectable="multiple"
		selected-items="mySelectedItems02"
		before-selection-change="beforeSelectionChangeAsyncHandler(item)">
	</list-group>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Selected items</h3>
		</div>
		<div class="panel-body">{{mySelectedItems02}}</div>
	</div>
</div>
