<div class="row">
	<div class="col-md-3">
		<div class="well">
			<p>Use <code>list-group-editor</code> directive <strong>add</strong>, <strong>edit</strong> or <strong>delete</strong> <code>items</code></p>
		</div>
		<h3>Controller</h3>
<pre><code class="language-javascript" prism>$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];</code></pre>
		<h3>Markup</h3>
<pre><code class="language-markup" prism>&#60;list-group-editor items="colors" /></code></pre>
<list-group-editor items="colors" />
	</div>

	<div class="col-md-3">
		<div class="well">
			<p>If <code>items</code> are not to be deleted, set <code>deletable</code> attribute value to <code>false</code></p>
			<p>Similarly, use <code>editable</code> attribute for not editable <code>items</code></p>
		</div>
		<h3>Controller</h3>
<pre><code class="language-javascript" prism>$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];</code></pre>
		<h3>Markup</h3>
<pre><code class="language-markup" prism>&#60;list-group-editor items="colors"
	deletable="false" /></code></pre>
<list-group-editor items="colors" deletable="false" />
	</div>

	<div class="col-md-3">
		<div class="well">
			<p>Pass in a callback function to control which <code>items</code> are to be deletable</p>
		</div>
		<h3>Controller</h3>
<pre><code class="language-javascript" prism>$scope.colors=[ 'Red', 'Orange', 'Yellow', 
	'Green', 'Blue', 'Indigo', 'Violet' ];

// Make 'Orange' and 'Blue' items not deletable
$scope.myDeletableHandler = function(item) {
	return item != 'Orange' && item != 'Blue';
};</code></pre>
		<h3>Markup</h3>
<pre><code class="language-markup" prism>&#60;list-group-editor items="colors"
	deletable="myDeletableHandler($item)" /></code></pre>
<list-group-editor items="colors" deletable="myDeletableHandler($item)" />
	</div>

</div>