<div class="col-md-6">
	<div class="well">
		<p>Select as with <code>list-group</code>.</p>
		<p>(<code>selectable=[multiple]</code>, <code>selected-items</code>, <code>before-selection-change</code>, <code>after-selection-change</code>)</p>
	</div>
	<h3>Controller</h3>
<pre><code class="language-javascript" prism>
$scope.colors=[ 'Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet' ];
$scope.logs = [];
$scope.selectedItems = [];
$scope.beforeSelectionChangeHandler = function(item) {
	$scope.logs.push('beforeSelectionChangeHandler(' + item + ')');
	return true;
};
$scope.afterSelectionChangeHandler = function(item) {
	$scope.logs.push('afterSelectionChangeHandler(' + item + ')');
};
$scope.$watchCollection('selectedItems',function (newVal, oldVal) {
	$scope.logs.push(angular.toJson(newVal));
});</code></pre>
<h3>Markup</h3>
<pre><code class="language-markup" prism>&#60;list-group-editor items="colors" selectable="multiple"
	selected-items="selectedItems"
	before-selection-change="beforeSelectionChangeHandler(item)"
	after-selection-change="afterSelectionChangeHandler(item)">
&#60;/list-group-editor></code></pre>		
	<list-group-editor items="colors" selectable="multiple" 
		selected-items="selectedItems"
		before-selection-change="beforeSelectionChangeHandler(item)"
		after-selection-change="afterSelectionChangeHandler(item)"></list-group-editor>
	<div class="well">
		<div ng-repeat="log in logs track by $index">
			<span ng-bind="log"></span>
		</div>
	</div>		
</div>
